html {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1200px;
}

body{
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}


*,* ::before, *::after{
    box-sizing: inherit;
}

.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 120px 12px;
}

.header{
    width: 1200px;
    height: 53px;
   margin: 30px 120px 12px;
    gap: 20px;
}

.header_list{
    display: flex;
    flex-wrap: wrap;
}

.header_item{
    margin-right: 100px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    gap: 20px;
}


.container{
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
}

.container__content{
    padding: 91px 630px 219px 40px;
    max-width: 1200px;
    margin-left: 120px;
    margin-right: 120px;
}

.login_container{
    position: relative;
}

.header_login-icon{
    position: absolute;
    top: 38%;
    right: 50%;
    transform: translate(-50%,-30%);
}

nav ul li a {
    text-decoration: none;
    color: black;
    width: 351px;
    height: 45px;
    top: 8px;
    left: 379px;
    gap: 20px;
}

.login-button{
    width: 100px;
    height: 35px;
    background-color: mediumseagreen;
    color: white;
    border: none;
    padding-right: 17px;
    padding-left: 41px;
    border-radius: 5px;
    cursor: pointer;
    left: 1100px;
}

.highlight{
    color: mediumseagreen;
}

.intro{
    display: flex;
}


.pre_title{
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-align: left;
    margin-bottom: 7px;

}

.intro_title{
    font-size: 50px;
    font-weight: 900;
    line-height: 70px;
    text-align: left;
max-width: 530px;
    height: 140px;
    margin-bottom: 5px;
}

.intro_subtitle{
    max-width: 557px;
    margin-bottom: 44px;
    width: 557px;
    height: 45px;
}

.large-image{
    position: relative;
    width: 507px;
    height:450px;
}


.small-image{
    position: absolute;
    top:78%;
    right: 55%;
    transform: translate(-40%,-50%);
    width: 170px;
    height: auto;
}


.shop-now-button{
    max-width:140px;
    height: 40px;
    text-align: center;
    background-color: mediumseagreen;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 137px;
}

