:root{
    --accent-color: #46A358;
    --accent-color-secondary: rgba(70, 163, 88, 0.84);
    --accent-color-transparent: rgba(70,163,88, 0.5);
    --secondary-color: #3D3D3D;
    --main-color:#ffffff;
    --bg-secondary-color:#FBFBFB;
    --font-sm:14px;
    --font-md:16px;
    --font-xl:18px;
    --content-width:1200px;
}

body{
    font-family: "Cera Pro DEMO", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: var(--font-md)
}

a {
    font-size: var(--font-md);
    color: var(--secondary-color);
    text-decoration: none;
    display: inline-block;
}


.header{
    margin-top: 30px;
    margin-left: 250px;
}

.header__content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid var(--accent-color-transparent);
    padding-bottom: 18px;
    width: 1200px;
    margin-bottom: 150px;
}

.header__logo,.header__controls{
    max-width: 150px;
    min-width: 150px;
}

.header__controls{
    text-align: end;
}


.header__logo:hover{
    transition: 2s;
    transform: rotateX(360deg);
}

.header__nav ul{
    display: flex;
    gap: 50px;
    font-weight: var(--font-md);
}

.header nav .active,
.header__content nav li:hover{
    font-weight: bold;
    border-color:var(--accent-color);
    padding-bottom: 5px;
}

.header nav li{
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    text-align: center;
    min-width: 85px;
    letter-spacing: -1px;
}

.nav-list{
    display: flex;
    column-gap: 30px;
}


.header__menu{
    display: flex;
}


.btn{
    padding: 8px 30px;
    max-width: 100px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    font-weight: bold;
    transition:0.3s;
    border: 2px solid transparent;
}


.btn:hover{
    background: var(--accent-color-secondary);
    border-color: 1px solid var(--accent-color-secondary);
}


.btn.btn-success{
    display: flex;
    padding-right: 100px;
    background: var(--accent-color);
    border-color: var(--accent-color);
    color: white;
}

.btn.btn-success:hover{
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}


.fa-solid{
    display: flex;
    margin-top: 5px;
    margin-right: 8px;
}


.catalog__btn:hover{
    background-color: var(--secondary-color);
}


.container{
    display: flex;
    margin: 0 auto;
}

.container__content{
    padding: 91px 630px 219px 40px;
    max-width: 1200px;
    margin-left: 120px;
    margin-right: 120px;
}

.header_logo,.header-item{
    max-width: 150px;
    min-width: 150px;
}


.highlight{
    color: mediumseagreen;
}


.main_intro{
    display: flex;
    margin-left: 120px;
}

.intro{
    display: flex;
}


.pre_title{
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-align: left;
    margin-bottom: 7px;
}

.intro_title{
    font-size: 50px;
    font-weight: 900;
    line-height: 70px;
    text-align: left;
    height: 140px;
    margin-bottom: 5px;
}

.intro_subtitle{
    max-width: 557px;
    margin-bottom: 44px;
    width: 557px;
    height: 45px;
}

.large-image{
    position: relative;
    width: 507px;
    height:450px;
    margin-left: 100px;
    margin-right:120px;
    margin-bottom: 52px;
    transform: translateX(-160%) ;
}


.small-image{
    position: absolute;
    top:78%;
    right: 55%;
    transform: translate(-40%,-50%);
    width: 170px;
    height: auto;
}


.shop-now-button{
    max-width:140px;
    height: 40px;
    text-align: center;
    background-color: var(--accent-color-secondary);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 137px;
}

.shop-now-button:hover{
    background-color: var(--secondary-color);
}